 <form class="form-horizontal" autocomplete="off" #createBedForm="ngForm" (ngSubmit)="save()">

  <abp-modal-header [title]="'createBed' | localize" (onCloseClick)="bsModalRef.hide()">
  </abp-modal-header>

  <div class="modal-body">

    <div class="form-group row required">
      <label class="col-md-3 col-form-label" for="bedNumber">
        {{ 'BedNumber' | localize }}
      </label>
      <div class="col-md-9">
        <input type="text" class="form-control" name="bedNumber" id="bedNumber" required
               [(ngModel)]="bed.bedNumber" #bedNumberModel="ngModel" #bedNumberEl />

        <small class="text-danger" *ngIf="bedNumberModel.touched && bedNumberModel.invalid">
          <span *ngIf="bedNumberModel.errors?.required">Bed Number is required</span>
        </small>

        <abp-validation-summary [control]="bedNumberModel" [controlEl]="bedNumberEl"></abp-validation-summary>
      </div>
    </div>

    <div class="form-group row required">
      <label class="col-md-3 col-form-label" for="roomId">
        {{ 'Room' | localize }}
      </label>
      <div class="col-md-9">
        <select class="form-control" name="roomId" id="roomId" required
                [(ngModel)]="bed.roomId" #roomIdModel="ngModel" #roomIdEl>
          <option *ngFor="let room of rooms" [value]="room.id">{{ room.roomNumber }}</option>
        </select>

        <abp-validation-summary [control]="roomIdModel" [controlEl]="roomIdEl"></abp-validation-summary>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-md-3 col-form-label" for="isOccupied">
        {{ 'IsOccupied' | localize }}
      </label>
      <div class="col-md-9">
        <input type="checkbox" class="form-check-input" name="isOccupied" id="isOccupied"
               [(ngModel)]="bed.isOccupied" #isOccupiedModel="ngModel" #isOccupiedEl />

        <abp-validation-summary [control]="isOccupiedModel" [controlEl]="isOccupiedEl"></abp-validation-summary>
      </div>
    </div>

  </div>

  <abp-modal-footer [cancelDisabled]="saving" [saveDisabled]="!createBedForm.form.valid || saving"
                    (onCancelClick)="bsModalRef.hide()">
  </abp-modal-footer>

</form>

